<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>backendPage</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
    
 <nav >
            <div className="holder">
                <ul>
                    <li><NavLink activeClassName="activo" exact to="/">Home</NavLink></li>
                    <li><NavLink activeClassName="activo" exact to="/Vuelos">Vuelos</NavLink></li>
                    <li><NavLink activeClassName="activo" exact to="/Paquetes">Paquetes</NavLink></li>
                    <li><NavLink activeClassName="activo" exact to="/Activades">Activades</NavLink></li>
                    <li><NavLink activeClassName="activo" exact to="/Asistencia">Asistencia</NavLink></li>

                </ul>
            </div>
        </nav>

        {{{body}}}
        
         <footer>
            <p class="text-center">diseñado por Agustin Otárola -&copy;2022</p>
        </footer>
</body>
</html>